<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="<%= metaInfo.ogTitle %>" />
    <meta property="og:description" content="<%= metaInfo.ogDescription %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= metaInfo.ogUrl %>" />
    <meta property="og:image" content="<%= metaInfo.ogImage %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="<%= metaInfo.favIcon %>" />
    <link rel="apple-touch-icon" href="<%= metaInfo.favIcon %>" />
    <link href="/css/tailwind.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/hearts.css" rel="stylesheet" />
    <link rel="manifest" href="<%= metaInfo.ogUrl %>/manifest.json">
    <link
            rel="alternate"
            type="application/json+oembed"
            href="<%= urls.jam %>/_/integrations/oembed?url=<%= metaInfo.ogUrl %>"
    >
    <title><%= metaInfo.ogTitle %></title>
</head>
<body>
<div id="root"></div>
<script>
    window.jamConfig = <%- jamConfigString %>;
    window.existingRoomInfo = <%- roomInfoString %>;
    window.existingRoomId = <%- roomIdString %>;

    const animationsEnabled = localStorage.getItem('animationsEnabled') ?? 'true';

    var ts = Math.floor(Date.now() / 1000);
    var link_app = document.createElement('link');
    link_app.rel = "modulepreload";
    link_app.href = "/js/App.js?ts=" + ts;
    link_app.as = "script";
    document.head.appendChild(link_app);
    var link_chunk = document.createElement('link');
    link_chunk.rel = "modulepreload";
    link_chunk.href = "/js/<%= preloadScript %>?ts=" + ts;
    link_chunk.as = "script";
    document.head.appendChild(link_chunk);
    var script_app = document.createElement('script');
    script_app.id = "script_app";
    script_app.src = "/js/App.js?ts=" + ts;
    script_app.type = "module";
    document.head.appendChild(script_app);

    var script_snowflakes = document.createElement('script');
    script_snowflakes.setAttribute('src','https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js');
    document.head.appendChild(script_snowflakes);
    let animInterval = '';
    function load_animation() {
        const thed = new Date();
        // Valentines
        if (thed.getDate() == 14 && thed.getMonth() == 1) {
            animInterval = setInterval(createHeart, 1500);
            // to stop: clearInterval(animInterval);
        }
        // var mysnowflakes = new Snowflakes({color: "#d7c1f9",minOpacity: 0.4,maxOpacity: 0.8,maxSize:50,speed:3});
        // April First
        if (thed.getDate() == 1 && thed.getMonth() == 3) {
            if(Math.round(Math.random() * 10) > 7) {
                flipit();
            }
        }
    }
    if (animationsEnabled == 'true') {
        if(window.addEventListener) {
            window.addEventListener('load', load_animation, false);
        } else {
            window.attachEvent('load', load_animation);
        }
    }

    function createHeart() {
        const e_rose = '🌹';
        const e_heart = '💗';
        const heart = document.createElement('div');
        heart.classList.add('heart');
        heart.style.left = Math.random() * 100 + "vw";
        heart.style.animationDuration = Math.random() * 2 + 3 + "s";
        switch (Math.round(Math.random() * 3)) {
          case 0:
            heart.innerText = e_rose;
            break;
          case 1:
            heart.innerText = e_heart;
            break;
          default:
            heart.innerText = 'Happy Valentines Day';
            break;
        }
        document.body.appendChild(heart);
        setTimeout(() => {
            heart.remove();
        }, 5000);
    }

    function flipit() {
        document.getElementById('root').classList.add("flipdiv");
        window.scrollTo(0, document.body.scrollHeight);
    }

</script>
</body>
</html>
